<div fxLayout="column" fxLayoutAlign="start center" class="full-width" *ngIf="displayData">
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" class="full-width">
    <div fxLayout="column">
      <div>
        <span>{{noResult ? noResult.target : displayData.city}}</span>
        <mat-icon
          [matTooltip]="noResult.message"
          *ngIf="noResult && noResult.target !== noResult.replacement">info
        </mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <img [src]="'assets/weather-icons/' + displayData.current.weather.ic + '.png'"/>
        <span>{{displayData.current.weather.tp}} °C</span>
      </div>
    </div>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-around center" class="full-width details-container">
    <span>Humidité : {{displayData.current.weather.hu}} %</span>
    <span>Vent : {{(displayData.current.weather.ws * 3.6 | number)}} km/h</span>
    <span>Pression atmo. : {{displayData.current.weather.pr}} hPa</span>
  </div>
  <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-around center" class="full-width details-container">
      <span>Qualité de l'air (standard US) :
        <span [ngStyle]="{'color': getAirQuality(displayData.current.pollution.aqius).color}">
          {{getAirQuality(displayData.current.pollution.aqius).label}}
        </span>
      </span>
    <span>Qualité de l'air (standard Chine) :
        <span [ngStyle]="{'color': getAirQuality(displayData.current.pollution.aqicn).color}">
          {{getAirQuality(displayData.current.pollution.aqicn).label}}
        </span>
      </span>
  </div>
</div>
